### Xcode ###

## Xcode Project Bundles
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace

## Xcode Workspaces
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

## Workspaces inside project bundles
*.xcodeproj/project.xcworkspace/*
!*.xcodeproj/project.xcworkspace/xcshareddata
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.xcworkspace/xcshareddata/


### macOS ###

## General
.DS_Store
.AppleDouble
.LSOverride

## Thumbnails
._*

## Icon must end with two \r
Icon



